body {
   font-family: 'Inter', sans-serif;
   background-color: #F2F3F5;
}

a {
   text-decoration: none !important;

}

p {
   margin: 0;
   padding: 0;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* header */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   font-size: 12px;
   font-weight: 400;
}

.header a {
   color: #fff;
}

.header__section {
   background-color: #21273C;
}

.header__inner {
   display: flex;
   align-items: center;
}

.header__inner a {
   margin-left: 24px;
}

.header__link {
   margin-left: 80px;
}

.header__contact {
   display: flex;
   align-items: center;
}

.phone {
   color: #FFBF3C;
   margin-right: 10px;
}

.arrow {
   margin-left: 10px;
   color: #fff;
   opacity: .6;
}

.header__select {
   color: #fff;
   cursor: pointer;
}

.header__contact a {
   margin-right: 30px;
}

.header__box {
   background: #Fff;
   position: absolute;
   z-index: 7;
   transition: .2s linear;
   display: none;
}

.header__box.active {
   width: 592px;
   height: auto;
   top: 123px;
   left: 18%;
   box-shadow: 0 0 30px 0 #cecece;
   background: #fff;
   border-radius: 12px;
   display: block;
}

.header__box.active::before {
   content: "";
   position: absolute;
   border: 20px solid transparent;
   border-bottom: 20px solid #fff;
   top: -40px;
   left: 48px;
   width: 22px;
   height: 22px;
}

.box__box {
   display: flex;
}

.box__counter {
   display: flex;
   justify-content: space-between;
   padding: 24px 34px;
}

.box__counter i {
   font-style: normal;
   font-size: 20px;
   line-height: 24px;
   display: flex;
   align-items: flex-end;
   color: #9499A5;
}

.box__Search {
   display: flex;
   padding-bottom: 14px;
   border-bottom: 1px solid #F2F2F2;
}

.box__Search input {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   border: none;
   outline: none;
   color: #282F3C;
}

.box__Search i {
   margin-right: 14px;
   color: #007AFF;
   font-size: 20px;
}

.box__content {
   padding: 12px 34px;
}

.box__item {
   padding: 9.5px 0;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   color: #282F3C;
}
.box__item:hover {
   color: #5858DF;
}
.box__item img {
   margin-right: 14px;
}

.box__inner {
   padding: 12px 34px ;
}
#xmark {
   cursor: pointer;
}
.counter__title {
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   display: flex;
   align-items: flex-end;
   color: #282F3C;
}
.select__option {
   display: flex;
   align-items: center;
}
.select__option i {
   margin-left: 10px;
}

/* container */
.container {
   width: 1320px;
}

.container--box {
   margin-left: 108px;
}

/* section */
.section__intro {
   padding-top: 15px;
   background-color: #fff;
}

.section__swiper {
   margin-top: 24px;
}

.section__mail {
   margin-top: 48px;
}

.section__application {
   margin-top: 68px;
}

.section {
   margin-top: 48px;
   margin-bottom: 25px;
   display: flex;
   justify-content: space-between;
}

.section__car {
   margin-top: 72px;
}

.section__title {
   display: flex;
   font-size: 24px;
   color: #282F3C;
   font-weight: 600;
   line-height: 1.1;
}

.section__show {
   font-size: 14px;
   font-weight: 400;
   color: #007AFF;
}

/* intro */
.intro {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* nav */
.navs {
   display: flex;
   justify-content: space-between;
}

.nav__link {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.nav__item {
   font-size: 14px;
   font-weight: 500;
}

/* Style the search field */
form.example input[type=text] {
   padding: 14px;
   font-size: 12px;
   border: 1px solid grey;
   float: left;
   width: 82%;
   background: #F2F2F2;
   border-right: none;
}

form.example .select {
   float: left;
   width: 12%;
   padding: 13.4px;
   background: #F2F2F2;
   font-size: 13px;
   border: 1px solid grey;
   border-right: none;
   /* Prevent double borders */
   cursor: pointer;
   border-radius: 12px 0px 0px 12px;
}

/* Style the submit button */
form.example button {
   float: left;
   /* width: 20%; */
   padding: 10.5px;
   background: #F2F2F2;
   color: #9499A5;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   /* Prevent double borders */
   cursor: pointer;
   border-radius: 0px 12px 12px 0px;
}

form.example button:hover {
   background: #F2F2F2;
}

/* Clear floats */
form.example::after {
   content: "";
   clear: both;
   display: table;

}


/* links */
.links {
   display: flex;
   margin-top: 41px;
   padding-bottom: 10px;
   justify-content: space-between;
   align-items: center;
}

.link__item a {
   color: #282F3C;
   font-size: 14px;
   font-weight: 400;
   transition: .2s ease-out;
   position: relative;

}

.link__item a:after {
   content: "";
   display: block;
   width: 0;
   height: 3px;

   margin-top: 25px;
   background-color: #007AFF;

   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
   opacity: 0;
   border-radius: 8px;
   transition: .2s ease-in;

}

.link__item a:hover:after {
   opacity: 1;
   width: 100%;
}

.link__button {
   display: flex;
   padding: 13px;
   background: #007AFF;
   border-radius: 12px;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.menu-btn {
   width: 30px;
   height: 30px;
   position: relative;
   z-index: 2;
   overflow: hidden;
   margin-right: 10px;
}

.menu-btn span {
   width: 24px;
   height: 2px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
   top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
   top: calc(50% + 5px);
}



/* .contentbox {
   max-width: 100%;
   width: 100%;
   height: 73vh;
   background: #fff;
   position: fixed;
   z-index: 5;
   right: 0;
   bottom: 0;
   display: block;
} */


.nav__toggle {
   width: 25px;
   padding: 10px 0;
   font-size: 0px;
   color: transparent;
   border: 0;
   background: none;
   cursor: pointer;
   z-index: 1;
   position: relative;
   margin-right: 10px;
}

.nav__toggle-item {
   display: block;
   width: 100%;
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0px;
   margin: auto;
   transition: background .2s linear;
}

.nav__toggle-item::before, .nav__toggle-item::after {
   content: '';
   width: 100%;
   height: 3px;
   background-color: #fff;
   position: absolute;
   left: 0px;
   z-index: 1;
   transition: transform .2s linear;
}

.nav__toggle-item::before {
   top: -6px;
}

.nav__toggle-item::after {
   bottom: -5px;
}

.nav__toggle.active {
   background: none;
}

.nav__toggle.active .nav__toggle-item {
   background: none !important
}

.nav__toggle.active .nav__toggle-item::before {
   transform-origin: left top;
   transform: rotate(45deg) translateX(-3px);
}

.nav__toggle.active .nav__toggle-item::after {
   transform-origin: left bottom;
   transform: rotate(-45deg) translateX(-3px);
}

.nav__inner {
   width: 0%;
   height: 100%;
   position: absolute;
   z-index: 5;
   background: #Fff;
   left: 0;
   overflow: auto;
   transition: .2s linear;
}


.nav__inner.active {
   left: 0;
   width: 100%;
   display: block;
   background-color: #fff;
}


/* menu */
.menu__item {
   display: flex;
   padding-top: 24px;
}

.menu__link {
   display: flex;
   flex: 1 1 0;
   flex-direction: column;
}

.menu__link__margin {
   margin-right: 20px;
}

.menu__link__logo {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   color: #282F3C;
}

.menu__link__logo img {
   margin-right: 12px;
}

.menu__link__item {
   justify-content: space-between;
   padding: 9.5px 12px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   cursor: pointer;
   color: #282F3C;
   border-radius: 7px;
}

.menu__link__item:hover {
   background: #F6F6F6;
   color: #5858DF;
}

.menu__title {
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 24px;
   color: #282F3C;
}

.menu__margin {
   margin-top: 53px;
}

.menu__subtitle {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #282F3C;
   margin-bottom: 18px;
}

.menu__text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #C0C0C0;
   margin-bottom: 12px;
}

.menu__show__All {
   color: #5858DF;
}

.menu__show__All i {
   margin-left: 10px;
}

.menu__content {
   margin-bottom: 34px
}

.menu__logo {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
}

.menu__logo img {
   width: 130px;
   margin: 5px;
}


/* watch */
.watch {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   align-items: center;
   border-radius: 12px;
}

.watch__content {
   margin-left: 80px;
}

.watch__title {
   font-size: 30px;
   font-weight: 700;
   margin-top: 11px;
   line-height: 38px;
}

.watch__subtitle {
   font-size: 16px;
   font-weight: 400;
   color: #7D17FF;
   margin-top: 12px;
   margin-bottom: 44px;

}

.watch__btn {
   background: #7D17FF;
   color: #fff;
   padding: 13px 45px;
   border-radius: 8px;
   font-weight: 600;
   font-size: 15px;
}

.watch__btn:hover {
   color: #fff;
}

.watch__img img {
   border-radius: 12px;
}

.watch__link {
   display: flex;
   padding: 20px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.watch__link i:hover {
   color: #FC482F;
   cursor: pointer;
}

/* watch__card
 */
.watch__card {
   background: #fff;
   border-radius: 8px;
}

.watch__card__title {
   padding: 20px;
   font-size: 20px;
   color: #282F3C;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.watch__card__subtitle {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   color: #282F3C;
   padding: 0 20px;
   margin-bottom: 10px;
}

.watch__card__img {
   display: flex;
   justify-content: space-around;
}

.watch__gift {
   width: 25px;
   height: 25px;
   background: #FFBF3C;
   color: #fff;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}


.watch__in {
   padding: 14px;
   display: flex;
   justify-content: space-between;
}

.watch__input {
   padding: 8px;
   border-radius: 8px;
   margin-left: 20px;
   border: 1px solid #F2F2F2;
   font-size: 12px;
}

.watch__input__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #007AFF;
   border-radius: 8px;
   margin-right: 20px;
}

.watch__input__btn i {
   color: #fff;
}

.watch__input span {
   font-size: 16px;
   color: #007AFF;
   font-weight: 700;
}

.time {
   font-size: 15px;
   font-weight: 600;
   color: rgb(50, 95, 255);
   color: linear-gradient(38deg, rgba(50, 95, 255, 1) 0%, rgba(211, 86, 255, 1) 100%);
}

.time__box {
   margin-left: 10px;
   background: linear-gradient(38deg, rgba(242, 55, 55, 1) 0%, rgba(242, 97, 16, 1) 100%);
   padding: 3px 20px;
   transform: skewX(-25deg);
   border-radius: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 120px;
}

.time__red {
   color: #fff;
   font-size: 20px;
   transform: skewX(25deg);
}

/* swiper */

.mySwiper0 {
   width: 100%;
   height: 100%;
}

.mySwiper1 {
   padding: 10px 0;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .my__prev {
   font-size: 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
   border-radius: 29px;
   border-radius: 100%;
   width: 35px;
   height: 35px;
   padding: 10px;
   left: 0%;
   color: #29334B;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .my__next {
   font-size: 15px;
   width: 35px;
   height: 35px;
   background: #FFFFFF;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
   border-radius: 29px;
   border-radius: 100%;
   padding: 10px;
   color: #29334B;
}

/* .swiper-wrapper {
   transform: translate3d(0px, 0px, 0px) !important;

} */

.swiper-slide {
   background: #fff;
   border-radius: 12px;


   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}



.my__slider {
   border-radius: 12px;
   background: #fff;
   margin-right: 15px !important;
   padding: 0px 15px 15px 15px;
   width: 210px !important;
   cursor: pointer;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   transition: .2s ease-in;
}

.my__slider:hover {
   filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.15));
   border-radius: 12px;
   /* transform: translateY(-10px); */
}

.my__slider--m {
   margin-right: 0 !important;
}

/* card          
           =========== */
.card {
   border-radius: 12px;
   border: none !important;
}

.card__img {
   position: relative;
}

.card__img {
   overflow: hidden;
}

.card__frame {
   position: absolute;
   bottom: 10px;
   left: 10px;
   background-color: #FC482F;
   padding: 2px 10px;
   border-radius: 17px;
   font-size: 15px;
   font-weight: 400;
   color: #fff;
}

.card__frame--green {
   background-color: #14C044;
   padding: 6px 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card__frame--hits {
   border-radius: 17px;
   font-size: 15px;
   font-weight: 400;
   color: #fff;
   position: absolute;
   top: 22px;
   left: 10px;
   padding: 8px 16px;
   display: flex;
   justify-content: center;
   align-items: center;

   background: rgb(50, 95, 255);
   background: linear-gradient(38deg, rgba(50, 95, 255, 1) 0%, rgba(211, 86, 255, 1) 100%);
}

.card__reviews {
   font-size: 12px;
   font-weight: 400;
   color: #282F3C;
}

.card__reviews i {
   color: #FC9700;
}

.card__subtitle {
   font-size: 14px;
   text-decoration-line: line-through;
   color: #EB5757;
   line-height: 17px;
}

.card__title {
   font-size: 18px;
   font-weight: 600;
   margin: 2px 0;
   line-height: 22px;
}

.card__text {
   margin-top: 8px;
   font-size: 14px;
   font-weight: normal;
   color: #282F3C;
   line-height: 20px;
}

.card__input {
   border: 1px solid #ccc;
   padding: 5px;
   border-radius: 8px;
   font-size: 12px;
   font-weight: 400;
}

.card__in {
   margin-top: 10px;
   display: flex;
}

.card__input span {
   color: #007AFF;
   font-size: 16px;
   font-weight: 700;
}

.card__input__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 17px;
   background: #007AFF;
   border-radius: 8px;
   margin-left: 8px;
}

.card__input__btn i {
   color: #fff;
}

/* ta bs  */


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
   background: #007AFF;
   color: #fff;
}

.nav-tabs>li>a {
   color: #282F3C;
   background: #fff;
   margin-right: 10px;
   font-size: 15px;
   font-weight: 600;
   border-radius: 7px;
}



/* visaaaaaaa====  */

.visa {
   position: relative;
   background-color: #5656DF;
   width: 100%;
   border-radius: 12px;
   display: flex;
}

.visa__content {
   padding: 27px 30px;
}

.visa__title {
   color: #fff;
   font-size: 31px;
   font-weight: 700;
   line-height: 1.1;
}

.visa__text {
   color: #Fff;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2;
   margin-top: 7px;
}

.visa__btn {
   display: inline-block;
   padding: 10px 12px;
   font-weight: 600;
   color: #282F3C;
   font-size: 15px;
   line-height: 18.15px;
   background: #fff;
   border-radius: 8px;
   margin-top: 80px;
   text-align: center;
}

.visa__img {
   position: relative;
}

.visa__foto {
   width: 150px;
   height: 149px;
   position: absolute;
   z-index: 2;
   bottom: -4px;
   left: -11px;
}

.visa__photo {
   position: absolute;
   z-index: 1;
   width: 110px;
   height: 150px;
   bottom: 20px;
   left: -15px;
}

.yellow {
   background-color: #FFD12D;
}

.subtext {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400px;
   color: #fff;
   margin-top: 80px;
}


/* mycard */

.my__card {
   display: flex;
}

.card__phone {
   width: 100%;
   background-color: #007AFF;
   background: url('/image/card/4/shoptools.svg');
   border-radius: 12px;
   display: flex;
   padding-top: 45px;
   padding-left: 45px;
}

.card__phone--m {
   justify-content: flex-end;
   margin-right: 15px;
}

.card__phone--girl {
   background: url('/image/card/3/5.svg');
}

.phone__content {
   display: flex;
   flex-direction: column;
}

.phone__title {
   font-size: 32px;
   color: #fff;
   font-weight: 700;
   line-height: 38.73px;
   margin-bottom: 15px;
}

.phone__text {
   font-size: 16px;
   font-weight: 500;
   line-height: 22px;
   color: #fff;
}

.phone__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   color: #fff;
   background-color: #FFC700;
   padding: 14px 30px;
   border-radius: 8px;
   margin-top: 94px;
}

.phone__btn-m {
   background: none;
   padding: 0;
   justify-content: start;
   margin-top: 26px;
   color: #782C3C;
}

.phone__btn i {
   margin-left: 5px;
}

/* works */

.works {
   display: flex;
}

/* .works__col {
   height: 276px;
} */

/* .works__itam:first-child {
   margin: 0;
} */

.works__item {
   height: 276px;
   background: #E8E8E8;
   border-radius: 8px;
   margin-bottom: 10px;
   /* margin-left: 10px; */
   cursor: pointer;
   position: relative;
}

.works__row {
   height: 134px;
}

.works__title {
   padding: 24px 0 0 24px;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #282F3C;
}

.works__subtitle {
   padding: 24px 0 0 12px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #282F3C;
}

.works__home__title {
   padding: 24px;
}

.works__h-m {
   margin-right: 10px;
}

.work__gamer {
   border-radius: 8px;
   color: #FFFFFF;
   background-color: #355DF6;
}



.works__img {
   position: absolute;
   z-index: 1;
   bottom: 0;
   right: 0;
   border-radius: 0 0 8px;
}

.works__home {
   padding-left: 10px;
}

/* accessories */

.accessories {
   padding-top: 47px;
}

.accessories__item {
   position: relative;
   border-radius: 12px;
   background: #BBDDFB;
   height: 304px;
   margin-right: 15px;
}

.accessories__item--lego {
   background: #FED34A;
}

.accessories__item--apple {
   background: #EEE5C8;
}

.accessories__content {
   padding: 28px 39px;
}

.accessories__content--apple {
   display: flex;
   flex-direction: column;
   padding-top: 185px;
}

.accessories__titl {
   font-size: 32px;
   color: #282F3C;
   font-weight: 700;
   line-height: 38.73px;
}

.accessories__text {
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   color: #282F3C;
   margin-top: 14px;
}

.accessories__img img {
   width: 100%;
   object-fit: contain;
   border-radius: 12px;
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 1;
}

.accessories__img--apple img {
   top: 0;
}

.accessories__img--lego img {
   width: 90%;
}

.accessories__logo {
   position: absolute;
   top: 32px;
   right: 25px;
}



/* installment */
.installment {
   display: flex;
}

.installment__inner {
   width: 90%;
   height: 100%;
   background: #007AFF;
   border-radius: 12px;
   position: relative;
}

.installment__content {
   text-align: center;
   padding-top: 37px;
}

.installment__title {
   margin-top: 37px;
   font-size: 31px;
   font-weight: 700;
   line-height: 37.1px;
   color: #fff;
}

.installment__subtitle {
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 21px;
   opacity: .5;
   color: #Fff;
   margin-top: 6px;
}

.installment__text {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #fff;
   margin-top: 18px;
   cursor: pointer;
}

/* .installment__photos {
   position: absolute;
   bottom: 0;
} */



.installment__img {
   position: absolute;
   z-index: 1;
   bottom: 0;
}

.installment__guy {
   z-index: 3;
   bottom: 0;
}

.installment__group {
   position: absolute;
   z-index: 0;
   bottom: 0;
}

.installment__shop {
   bottom: 30%;
   left: 0;
}

.installment__gift {
   left: 26%;
   bottom: 45%;
}

.installment__game {
   right: 0%;
   bottom: 34.5%;
}


/* byshop */
.byshop {
   display: flex;
   flex: 1 1 0;
}

.byshop__item {
   border-radius: 12px;
}

/* .byshop__header {
   width: 100% !important;
} */

.byshop__img {
   position: relative;

}

.byshop__img i {
   position: absolute;
   top: 17px;
   right: 17px;
   color: #fff;
   font-size: 20px;
}

.byshop__img img {

   width: 100%;
   object-fit: contain;
   border-radius: 12px 12px 0px 0px;
}

.by__photo {
   padding: 10px;
   background: #fff;
   width: 81px !important;
   position: absolute;
   bottom: -25px;
   left: 118px;
   z-index: 1;
   background: #FFFFFF;
   box-shadow: 0px 0.886792px 6.20755px rgba(0, 0, 0, 0.2);
   border-radius: 14.9206px !important;
}

.byshop__content {
   padding-top: 44px;
   background-color: #fff;
   width: 100%;
   text-align: center;
   background: #FFFFFF;
   box-shadow: 0px 4px 12px 1px rgba(27, 31, 53, 0.09);
   border-radius: 0 0 12px 12px;
}

.byshop__title {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
}

.byshop__star {
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FC9700;
}

.byshop__text {
   margin-top: 4px;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #C0C0C0;
}

.byshop__star p {
   margin-left: 10px;
   color: #C0C0C0;
}

.byshop__watch {
   display: flex;
   padding: 15px 0;
}

.byshop__watch__item {
   display: flex;
   flex-wrap: wrap;
   /* width: 100%; */
}


/* carsss */
.car {
   background-color: #1F3D73;
   border-radius: 22px;
   display: flex;
   position: relative;
}

.car__content {
   padding: 33px 0 33px 120px;
}

.car__title {
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 34px;
   display: flex;
   align-items: center;
   color: #FFFFFF;
   margin-bottom: 10px;
}

.car__text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   opacity: 0.8;
   margin-bottom: 46px;
}

.car__btn {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   text-align: right;
   text-transform: capitalize;

   color: #FFFFFF;
   background: #FF9216;
   border-radius: 10px;
   padding: 14px 67px;
}

.car__item img {
   position: absolute;
   top: -27px;
   right: 110px;
   z-index: 1;
}

/* brends */
.brends {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   flex: 1 1 0;
}

.brends__item img {
   width: 200px;
}

/* mail
 */


.mail {
   display: flex;
   background: #1A2051;
   border-radius: 22px;
   justify-content: space-around;
}

.mail__item {
   display: flex;
   flex-direction: column;
   margin: 0 50px;
   position: relative;
}

.mail__item img {
   position: absolute;
   top: -24px;
   left: 0;
   z-index: 1;
   width: 260px;
}

.mail__title {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 34px;
   color: #FFFFFF;
   margin-top: 20px;
   margin-bottom: 10px;
}

.mail__text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color: #8C8FA8;
   margin-bottom: 20px;
}

.mail__subtext {
   margin-top: 10px;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 22px;
   color: #8C8FA8;
   margin-bottom: 24px;
}

.mail__subtext span {
   color: #EEC76D;
   font-weight: 400;
   border-bottom: 1px solid #EEC76D;
}

.mail__form {
   display: flex;
}

.mail__form input {
   width: 100%;
   padding: 10px 10px 10px 24px;
   background: #101435;
   border-radius: 14px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 158.02%;
   color: #6E718C;
   outline: none;
   border: none;
   margin-right: 20px;
}

.mail__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.01em;
   padding: 17px 0;
   background: #EEC76D;
   color: #FFFFFF;
   border-radius: 14px;
}

/* application 
*/

.application {
   display: flex;
   justify-content: center;
   background: linear-gradient(90deg, #3F62F1 -2.92%, #6816C0 79.17%);
   border-radius: 22px;
}

.application__item {
   position: relative;
}

.application__item img {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 1;
}

.application__box {
   position: relative;
   position: absolute;
   top: 100px;
   right: 237px;
   z-index: 2;
   border-radius: 100px;
   width: 141px;
   height: 141px;
   background-color: #Fff;
   box-shadow: 24px 33px 40px rgba(29, 27, 55, 0.37);
}

.application__img {
   /* padding: 26px 27px; */

   background: #FFFFFF;
   top: 26px;
   right: 26px !important;
   position: absolute;
}

.application__title {
   margin-top: 36px;
   font-style: normal;
   font-weight: 700;
   font-size: 33px;
   line-height: 117.4%;
   color: #FFFFFF;
}

.application__text {
   padding-right: 10px;
   margin-top: 15px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   color: #FFFFFF;
   opacity: 0.56;
   margin-bottom: 36px;
}

.application__nav a {
   color: #fff;
   margin-right: 16px;
   border: 1px solid rgba(255, 255, 255, 0.33);
   border-radius: 10px;
   background: none;
   font-weight: 500;
   padding: 12px 26px;
}

.application__nav {
   display: flex;
   align-items: center;
   margin-bottom: 35px;
}

.application__nav i {
   margin-right: 8px;
}


/* home */
.home {
   position: relative;
}

.home img {
   width: 100%;
   object-fit: contain;
}

.home__item {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   border-radius: 100%;
   border: 8px solid rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: .2s ease-in;
}

.box__size {
   padding: 8px;
   border-radius: 100%;
   background-color: #fff;
   transition: .2s ease-in;
}

.home__item:hover {
   border-color: #000;
}

.home__item:hover .box__size {
   background-color: #007AFF;
}

.Refrigerator {
   top: 44% !important;
   left: 17.25%;
}

.microwave {
   top: 50% !important;
   left: 42%;
}

.gas-stove {
   top: 86% !important;
   left: 41.5%;
}

.painting {
   top: 47.5% !important;
   left: 91.5%;
}

.flower {
   top: 77.5% !important;
   left: 77.5%;
}

.lamp {
   top: 12% !important;
   left: 70%;
}

.show--all {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   color: #282F3C;
   margin-top: 20px;
   padding: 13px;

   background: #F2F3F5;
   border: 1px solid #E0E0E0;
   box-sizing: border-box;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;

   transition: .2s ease-in;
   cursor: pointer;
}

.show--all:hover {
   background: #fff;
}

/* footer  */

.footer {
   padding: 49px 0;
   margin-top: 68px;
   background: #212640;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
}

.footer__links {
   display: flex;
}

.footer__item {
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #7A7D8C;
   width: 45px;
   height: 45px;
   border: 1px solid #7A7D8C;
   border-radius: 100%;
   margin-top: 19px;
   margin-bottom: 19px;
   margin-left: 10px;
}

.footer__item:first-child {
   margin-left: 0;
}

.footer__title {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   margin-bottom: 18px;
}

.footer__subtitle, .footer__subtitle a {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   margin-bottom: 8px;
}

.footer__text {
   margin-bottom: 14px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #7A7D8C;
}